/node_modules
/public/backgrounds/*
/public/pdfs/*
/public/qualities/*
/public/methods/*
/public/zips/*

/public/hot
/public/storage
/storage/*.key
/vendor
/_logs
/_locks
_cacache
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
